{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-8">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>

                    {{ form.description|as_crispy_field }}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.price|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.stock|as_crispy_field }}
                        </div>
                    </div>

                    {{ form.image|as_crispy_field }}

                    {% if product.image %}
                    <div class="mb-3">
                        <label class="form-label">Current Image:</label>
                        <div>
                            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                 class="img-thumbnail" style="max-height: 200px;">
                        </div>
                    </div>
                    {% endif %}

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'vendor_products' %}" class="btn btn-secondary me-md-2">Cancel</a>
                        <button type="submit" class="btn btn-primary">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}